.header-bg {
  width: 100%;
  height: auto;
  background: #fff;
}

.navbar-content {
  border-bottom: 1px solid #111;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}

.navbar-menu-list {
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--text-primary);
}

.navbar-menu li a {
  padding: 10px 10px;
}
