@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url(header.css);
@import url(main.css);
@import url(work.css);
@import url(aside.css);
@import url(footer.css);

@font-face {
  font-family: Luxia;
  src: url(../fonts/Luxia-Regular.otf);
}

:root {
  --bg-primary: #fff;

  --text-primary: #000;
  --text-secondary: #2b2b2b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  scroll-behavior: smooth;
}


.container {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
}
